/* * {
    border: 1px solid red;
  } */

body {
    background-color: lightseagreen;
    font-size: 50px;
    font-family:monospace;
    
}

h1 {
    color: black;
    background-color: cyan;
    text-align: center;
    font-weight: bold; 
    margin-left: 500px;
    margin-right: 500px;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-position: inside;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.list-item1 {
    color: pink;
    margin: 5px;
}
.list-item2 {
    color: pink;
    margin: 5px;
    margin-right: 253px;
}

.list-item3 {
    color: pink;
    margin: 5px;
    margin-right: 60px;
}

.list-item a:hover {
    color: #0073e6; 
  }
